<script>
    const apiKey = "XQ9sGCeCOPzMy-2eY050U3rKE9sLrxeMXA9-Ltz8iD7eg2_mFo1WPj0KdqQeq1qfXYnsErwKuuoAoWUCNH0-KiJ3CETyJnuxB1Zx1rDxAfVHzjCeEe-qCVAVuMIoYnYx";

const yelp = {
    async search(term, location, sortBy) {
        const url = "https://cors-anywhere.herokuapp.com/https://api.yelp.com/v3/businesses/search?term=TERM&location=LOCATION&sort_by=SORT_BY";
        return await fetch(url, { 
            headers: { 
                Authorization: `Bearer ${apiKey}` 
            }
        }).then ( response => {
            return response.json();
        }).then ( jsonResponse => {
            if (jsonResponse.hasOwnProperty('businesses')) {
                jsonResponse.businesses.map( business => {
                    console.log(business);
                });
            }
        });
    }
}

console.log(yelp.search('food', 'toronto', 'best_match'));
</script>